IMBALANCED DATASET  
A dataset with unequal class distribution

In [1]:
#importing libraries
import numpy as np
import pandas as pd

In [2]:
#load data into pandas dataframe
credit_data = pd.read_csv('../dataset/credit_data.csv')
credit_data.head()

#class -> 0 is legit & 1 is fraudalent

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
#check the number of rows and columns
credit_data.shape

(284807, 31)

In [4]:
#check for missing values
credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [5]:
#check for count of clas
credit_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

This is highely imbalanced dataset

In [6]:
#seprating the legit and fraudulant data
legit = credit_data[credit_data.Class == 0]
fraud = credit_data[credit_data.Class == 1]

In [7]:
#print the shape of legit and fraud data
print(legit.shape , fraud.shape)

(284315, 31) (492, 31)

UNDERSAMPLING TECHNIQUE  
1) Build a sample data set containing similar dataset for fraudulant and legit transcation.  
2) Take the same no of data point from legit transactions of fraud transaction

In [8]:
#creating random sample of legit data
legit_sample = legit.sample(n=492) #randome values

In [9]:
#check the shape of legit_sample and fraud data
print(legit_sample.shape , fraud.shape)

(492, 31) (492, 31)

In [10]:
#concatenating the legit_sample and fraud data
data = pd.concat([legit_sample , fraud] , axis=0) #axis=0 means row wise concatenation; axis=1 means column wise concatenation
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
153256,98336.0,-1.641395,1.688426,2.600132,2.536624,0.768778,0.743016,-0.744803,-1.177475,0.470662,...,1.552661,-0.320005,-1.015690,0.983428,0.466145,0.051964,0.362992,0.157992,15.92,0
189743,128543.0,-3.167620,0.505418,0.221593,-0.114812,0.189115,1.420522,-0.742622,1.723954,-0.293927,...,0.387625,0.625515,-0.796670,-0.547135,0.523432,-0.487995,-0.478759,-0.408304,71.00,0
140206,83595.0,-1.360837,1.416970,0.602142,0.628266,0.092454,0.422071,0.210992,0.655804,-0.610368,...,0.247223,0.771808,-0.077237,-0.277119,-0.333039,-0.294516,0.164680,0.221582,29.95,0
202160,134198.0,1.915819,-0.452121,-0.528560,0.269046,-0.585535,-0.688993,-0.237981,-0.131967,1.287020,...,-0.377195,-0.959527,0.404073,-0.113740,-0.503954,-0.410818,-0.002028,-0.032961,50.00,0
26842,34275.0,-0.215655,1.195674,1.038463,0.954255,0.980119,-0.505383,1.154437,-0.523500,-0.381688,...,0.018060,0.478369,-0.264500,-0.022662,-0.393948,-0.374640,-0.243609,-0.259726,1.00,0

In [11]:
#check the shape of data
data.shape

(984, 31)