In [ ]:
#Basic Data Type
#Integer
#Float
#String
#Boolean
#Complex

In [1]:
#Complex
com = 3 + 4j
print(com)
type(com)

(3+4j)

complex

In [17]:
#Boolean
val = True #T,F should be in uppercase in True, False
print(val)
type(val)

True

bool

In [9]:
#Conversion of one data type from one to another
#int to float 
x =10
print(x)
type(x)

10

int

In [8]:
y = float(x)
print(y)
type(y)

10.0

float

In [15]:
#float to int
x= 5.88
y = int(x)
print(x , y)
print(type(x))
print(type(y))

5.88 5
<class 'float'>
<class 'int'>

In [20]:
#example of boolean
a = 7<3
print(a)
type(a)

False

bool

In [21]:
#String
print("Machine Learning")

Machine Learning

In [22]:
myString = "Machine Learning"
type(myString)

str

In [24]:
print("Hello "*5) #Replicate Srting

Hello Hello Hello Hello Hello

In [27]:
#Slicing String
str = "Programming"  #indexing in py start wiith 0
print(str[1:5])  # 1 will be included but 5 is not included

rogr

In [32]:
#Step
print(str[0:10:2]) #every second letter will be skipped

Pormi

In [35]:
#String Concatenation
str1 = "Machine"
str2 = "Learning"
print(str1+" "+str2)

Machine Learning