In [2]:
#Types of Object in Python
# 1) Immutable Objects - whose value cannot be changed once created
#    a) int
#    b) String
#    c) Float
#    d) Bool
#    e) Tuple - ()
# 2) Mutable Object - values can be changed once created
#    a) List - []
#    b) Set - {}
#    c) Dictionary  - {key:value}

In [4]:
#List
#enclosed in []
myLst1 = [1,2,3,4,5]
print(myLst1)
type(myLst1)

[1, 2, 3, 4, 5]

list

In [5]:
#list can have multiple data types
myLst2 = ["Neha", 25]
print(myLst1)

['Neha', 25]

In [12]:
#add elements to a list
myLst3 = [1,2,3,4,5]
myLst3.append(6)
print(myLst3)

#print elements of llist using index
print(myLst3[2])

[1, 2, 3, 4, 5, 6]
3

In [21]:
#list allows duplicated values wheras set does not allow duplicate values
myLst = [1,1,2,4,4,5,1,6]
print(myLst)

[1, 1, 2, 4, 4, 5, 1, 6]

In [15]:
# check size of list 
myLst = [1,1,2,4,4,5,1,6]
print(len(myLst))

8

In [16]:
#initiating empty list
lst2 =[]
print(lst2)

lst2.append(4)
print(lst2)

[]
[4]

In [2]:
#delete element from list
lst2 = [1,2,3,4,5]
del lst2[2]
print(lst2)

[1, 2, 4, 5]

In [3]:
#join two list
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]
lst3 = lst1 + lst2
print(lst3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
#Tuple
#enclosed in ()
#similar as list but immutable object
tple1 = (1,2,3,4,5)
print(tple1)
type(tple1)

(1, 2, 3, 4, 5)

tuple

In [6]:
#tuple can have multiple data types
tple2 = ("Neha", 25)
print(tple2)

('Neha', 25)

In [9]:
#converting a list to tuple
lst1 = [1,2,3,4,5]
print(lst1)

tple1 = tuple(lst1)
print(tple1)
type(tple1)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

tuple

In [10]:
#indeexing to print elment of tuple
tple1 = (1,2,3,4,5)
print(tple1[2])

3

In [14]:
#size of tuple
tple1 = (1,2,3,4,5)
print(len(tple1))

5

In [19]:
#Set - Immutable object
#enclosed in {}
set1 = {1,2,3,4,5}
print(set1)
type(set1)

{1, 2, 3, 4, 5}

set

In [18]:
#Set does not support indexing
#Set does not allow duplicate values ; repeated values atutomatically removed
#Convert list to set
lst1 = [1,2,3,4,5]
print(lst1)
set1 = set(lst1)
print(set1)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

In [23]:
#Dictionary - Immutable object
#enclosed in {}
#key value pair
dict1 = {"Name":"Neha", "Age":25, "Country":"India"}
print(dict1)
type(dict1)

{'Name': 'Neha', 'Age': 25, 'Country': 'India'}

dict

In [30]:
#Dictionary does not support indexing
#Dictionary does not allow duplicate keys ; repeated keys atutomatically removed
#diff ways of printing
dict1 = {"Name":"Neha", "Age":25, "Country":"India"}
#print name value
print(dict1["Name"])
#print age value
print(dict1["Age"])
#print country value
print(dict1["Country"])

Neha
25
India